<mat-form-field class="example-form-field">
  <mat-label>Name</mat-label>
  <input matInput type="text" [(ngModel)]="name">
  <button mat-button *ngIf="name" matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<button mat-raised-button color="primary" (click)="joinRoom()">Join</button>
<button mat-raised-button color="accent">Create</button>

<input [(ngModel)]="message" />
<button (click)="sendMessage()">Send</button>

<div *ngFor="let message of messages">
  {{message}}
</div>
