<div id="welcomeContainer">
  <mat-form-field class="example-form-field">
    <mat-label>Name</mat-label>
    <input matInput type="text" [(ngModel)]="name">
    <button mat-button *ngIf="name" matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="example-form-field">
    <mat-label>Room</mat-label>
    <input matInput type="text" [(ngModel)]="room">
    <button mat-button *ngIf="room" matSuffix mat-icon-button aria-label="Clear" (click)="room=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <div id="buttonContainer">
    <mat-form-field>
      <mat-label>Rooms</mat-label>
      <mat-select (selectionChange)="test($event)">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let room of rooms" [value]="room">
          {{room}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="createRoom()">Create</button>
  </div>
</div>

<!-- <input [(ngModel)]="message" />
<button (click)="sendMessage()">Send</button>
-->

